BasedOnStyle: Google
IndentWidth: 4

NamespaceIndentation: All

BraceWrapping:
  AfterFunction: true
  AfterClass: true
  BeforeElse: true
  AfterControlStatement: false
  AfterCaseLabel: false
  IndentBraces: false